[submodule "thirdparty/backward"]
	path = thirdparty/backward
	url = https://github.com/bombela/backward-cpp
[submodule "thirdparty/dgal"]
	path = thirdparty/dgal
	url = https://github.com/cmpute/dgal.git